.header-main{
    width: 100%;
    background: var(--color-white);
}
.header{
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.header .logo{
    font-weight: bold;
    font-size: 25px;
    color: var(--color-primary-color);
    line-height: 34px;
    text-transform: uppercase;
}

.header .content-block{}

.header ul{
    display: flex;
    gap: 20px;
}

.header ul li{
    list-style: none;
}

.header ul li img.profile-pic{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}