.footer{
    background: var(--color-white);
    padding: 15px 30px;
}

.footer h4{
    margin: 0;
    font-family: var(--font-secondary);
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: var(--color-status-red);
}